<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mtesth.api.common.dao.ClientVersionMapper" >
  <resultMap id="BaseResultMap" type="mtesth.api.common.model.ClientVersion" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="package_name" property="packageName" jdbcType="VARCHAR" />
    <result column="version_name" property="versionName" jdbcType="VARCHAR" />
    <result column="version_code" property="versionCode" jdbcType="INTEGER" />
    <result column="download_url" property="downloadUrl" jdbcType="VARCHAR" />
    <result column="download_size" property="downloadSize" jdbcType="INTEGER" />
    <result column="download_count" property="downloadCount" jdbcType="INTEGER" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="release_datetime" property="releaseDatetime" jdbcType="TIMESTAMP" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="update_datetime" property="updateDatetime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="mtesth.api.common.model.ClientVersionWithBLOBs" extends="BaseResultMap" >
    <result column="whatsnew" property="whatsnew" jdbcType="LONGVARCHAR" />
    <result column="memorandum" property="memorandum" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    whatsnew, memorandum
  </sql>
  <insert id="insertSelective" parameterType="mtesth.api.common.model.ClientVersionWithBLOBs" >
    insert into client_version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="cover != null" >
        cover,
      </if>
      <if test="packageName != null" >
        package_name,
      </if>
      <if test="versionName != null" >
        version_name,
      </if>
      <if test="versionCode != null" >
        version_code,
      </if>
      <if test="downloadUrl != null" >
        download_url,
      </if>
      <if test="downloadSize != null" >
        download_size,
      </if>
      <if test="downloadCount != null" >
        download_count,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="releaseDatetime != null" >
        release_datetime,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDatetime != null" >
        update_datetime,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="whatsnew != null" >
        whatsnew,
      </if>
      <if test="memorandum != null" >
        memorandum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="packageName != null" >
        #{packageName,jdbcType=VARCHAR},
      </if>
      <if test="versionName != null" >
        #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="versionCode != null" >
        #{versionCode,jdbcType=INTEGER},
      </if>
      <if test="downloadUrl != null" >
        #{downloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="downloadSize != null" >
        #{downloadSize,jdbcType=INTEGER},
      </if>
      <if test="downloadCount != null" >
        #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="releaseDatetime != null" >
        #{releaseDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="whatsnew != null" >
        #{whatsnew,jdbcType=LONGVARCHAR},
      </if>
      <if test="memorandum != null" >
        #{memorandum,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>