<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mtesth.api.common.dao.FileUploadLogMapper" >
  <resultMap id="BaseResultMap" type="mtesth.api.common.model.FileUploadLog" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="file_uri" property="fileUri" jdbcType="VARCHAR" />
    <result column="file_type" property="fileType" jdbcType="VARCHAR" />
    <result column="mime_type" property="mimeType" jdbcType="VARCHAR" />
    <result column="file_size" property="fileSize" jdbcType="INTEGER" />
    <result column="file_md5" property="fileMd5" jdbcType="VARCHAR" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="update_datetime" property="updateDatetime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="persist_type" property="persistType" jdbcType="VARCHAR" />
    <result column="persist_id" property="persistId" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insertSelective" parameterType="mtesth.api.common.model.FileUploadLog" >
    insert into file_upload_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fileUri != null" >
        file_uri,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="mimeType != null" >
        mime_type,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
      <if test="fileMd5 != null" >
        file_md5,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="updateDatetime != null" >
        update_datetime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="persistType != null" >
        persist_type,
      </if>
      <if test="persistId != null" >
        persist_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fileUri != null" >
        #{fileUri,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="mimeType != null" >
        #{mimeType,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=INTEGER},
      </if>
      <if test="fileMd5 != null" >
        #{fileMd5,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="persistType != null" >
        #{persistType,jdbcType=VARCHAR},
      </if>
      <if test="persistId != null" >
        #{persistId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>