<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mtesth.api.common.dao.PlaceMapper" >
  <resultMap id="BaseResultMap" type="mtesth.api.common.model.Place" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="slug" property="slug" jdbcType="VARCHAR" />
    <result column="helptext" property="helptext" jdbcType="VARCHAR" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="created_datetime" property="createdDatetime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="updated_datetime" property="updatedDatetime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insertSelective" parameterType="mtesth.api.common.model.Place" >
    insert into place
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="slug != null" >
        slug,
      </if>
      <if test="helptext != null" >
        helptext,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="createdDatetime != null" >
        created_datetime,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updatedDatetime != null" >
        updated_datetime,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="slug != null" >
        #{slug,jdbcType=VARCHAR},
      </if>
      <if test="helptext != null" >
        #{helptext,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="createdDatetime != null" >
        #{createdDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updatedDatetime != null" >
        #{updatedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>