<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mtesth.api.common.dao.SearcherTipswordMapper" >
  <resultMap id="BaseResultMap" type="mtesth.api.common.model.SearcherTipsword" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="released_datetime" property="releasedDatetime" jdbcType="TIMESTAMP" />
    <result column="updated_datetime" property="updatedDatetime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="created_datetime" property="createdDatetime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="mtesth.api.common.model.SearcherTipsword" >
    insert into searcher_tipsword (id, keyword, weight, 
      status, type, released_datetime, 
      updated_datetime, update_by, created_datetime, 
      create_by, site_id)
    values (#{id,jdbcType=INTEGER}, #{keyword,jdbcType=VARCHAR}, #{weight,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{releasedDatetime,jdbcType=TIMESTAMP}, 
      #{updatedDatetime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{createdDatetime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=INTEGER}, #{siteId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="mtesth.api.common.model.SearcherTipsword" >
    insert into searcher_tipsword
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="releasedDatetime != null" >
        released_datetime,
      </if>
      <if test="updatedDatetime != null" >
        updated_datetime,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="createdDatetime != null" >
        created_datetime,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="releasedDatetime != null" >
        #{releasedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDatetime != null" >
        #{updatedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="createdDatetime != null" >
        #{createdDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>