<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mtesth.api.user.dao.UserCommentFeedbackMapper" >
  <resultMap id="BaseResultMap" type="mtesth.api.user.model.UserCommentFeedback" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="kind_id" property="kindId" jdbcType="INTEGER" />
    <result column="content_type_id" property="contentTypeId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="is_owner_ignored" property="isOwnerIgnored" jdbcType="TINYINT" />
    <result column="contact_email" property="contactEmail" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="contact_im_qq" property="contactImQq" jdbcType="VARCHAR" />
    <result column="ip_address" property="ipAddress" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="mtesth.api.user.model.UserCommentFeedback" extends="BaseResultMap" >
    <result column="comment" property="comment" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    comment
  </sql>
  <insert id="insertSelective" parameterType="mtesth.api.user.model.UserCommentFeedback" >
    insert into user_comment_feedback
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="kindId != null" >
        kind_id,
      </if>
      <if test="contentTypeId != null" >
        content_type_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isOwnerIgnored != null" >
        is_owner_ignored,
      </if>
      <if test="contactEmail != null" >
        contact_email,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="contactImQq != null" >
        contact_im_qq,
      </if>
      <if test="ipAddress != null" >
        ip_address,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="kindId != null" >
        #{kindId,jdbcType=INTEGER},
      </if>
      <if test="contentTypeId != null" >
        #{contentTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isOwnerIgnored != null" >
        #{isOwnerIgnored,jdbcType=TINYINT},
      </if>
      <if test="contactEmail != null" >
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactImQq != null" >
        #{contactImQq,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>