<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mtesth.api.user.dao.UserLoginTokenMapper" >
  <resultMap id="BaseResultMap" type="mtesth.api.user.model.UserLoginToken" >
    <result column="usre_token" property="usreToken" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insertSelective" parameterType="mtesth.api.user.model.UserLoginToken" >
    insert into user_login_token
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usreToken != null" >
        usre_token,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usreToken != null" >
        #{usreToken,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>