<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mtesth.api.content.dao.TaxonomyCategoryMapper" >
  <resultMap id="BaseResultMap" type="mtesth.api.content.model.TaxonomyCategory" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="slug" property="slug" jdbcType="VARCHAR" />
    <result column="platform_type" property="platformType" jdbcType="VARCHAR" />
    <result column="ordering" property="ordering" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="mptt_lft" property="mpttLft" jdbcType="INTEGER" />
    <result column="mptt_rgt" property="mpttRgt" jdbcType="INTEGER" />
    <result column="tree_id" property="treeId" jdbcType="INTEGER" />
    <result column="mptt_level" property="mpttLevel" jdbcType="INTEGER" />
    <result column="is_hidden" property="isHidden" jdbcType="TINYINT" />
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="resources_count" property="resourcesCount" jdbcType="INTEGER" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="is_leaf" property="isLeaf" jdbcType="INTEGER" />
    <result column="category_flag" property="categoryFlag" jdbcType="VARCHAR" />
    <result column="content_type_id" property="contentTypeId" jdbcType="INTEGER" />
    <result column="content_object" property="contentObject" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insertSelective" parameterType="mtesth.api.content.model.TaxonomyCategory" >
    insert into taxonomy_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="slug != null" >
        slug,
      </if>
      <if test="platformType != null" >
        platform_type,
      </if>
      <if test="ordering != null" >
        ordering,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="mpttLft != null" >
        mptt_lft,
      </if>
      <if test="mpttRgt != null" >
        mptt_rgt,
      </if>
      <if test="treeId != null" >
        tree_id,
      </if>
      <if test="mpttLevel != null" >
        mptt_level,
      </if>
      <if test="isHidden != null" >
        is_hidden,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="resourcesCount != null" >
        resources_count,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="isLeaf != null" >
        is_leaf,
      </if>
      <if test="categoryFlag != null" >
        category_flag,
      </if>
      <if test="contentTypeId != null" >
        content_type_id,
      </if>
      <if test="contentObject != null" >
        content_object,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="slug != null" >
        #{slug,jdbcType=VARCHAR},
      </if>
      <if test="platformType != null" >
        #{platformType,jdbcType=VARCHAR},
      </if>
      <if test="ordering != null" >
        #{ordering,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="mpttLft != null" >
        #{mpttLft,jdbcType=INTEGER},
      </if>
      <if test="mpttRgt != null" >
        #{mpttRgt,jdbcType=INTEGER},
      </if>
      <if test="treeId != null" >
        #{treeId,jdbcType=INTEGER},
      </if>
      <if test="mpttLevel != null" >
        #{mpttLevel,jdbcType=INTEGER},
      </if>
      <if test="isHidden != null" >
        #{isHidden,jdbcType=TINYINT},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="resourcesCount != null" >
        #{resourcesCount,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="isLeaf != null" >
        #{isLeaf,jdbcType=INTEGER},
      </if>
      <if test="categoryFlag != null" >
        #{categoryFlag,jdbcType=VARCHAR},
      </if>
      <if test="contentTypeId != null" >
        #{contentTypeId,jdbcType=INTEGER},
      </if>
      <if test="contentObject != null" >
        #{contentObject,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>