<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mtesth.api.content.dao.WarehousePackageversionMapper" >
  <resultMap id="BaseResultMap" type="mtesth.api.content.model.WarehousePackageversion" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="package_id" property="packageId" jdbcType="INTEGER" />
    <result column="version_name" property="versionName" jdbcType="VARCHAR" />
    <result column="version_code" property="versionCode" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="released_datetime" property="releasedDatetime" jdbcType="TIMESTAMP" />
    <result column="created_datetime" property="createdDatetime" jdbcType="TIMESTAMP" />
    <result column="updated_datetime" property="updatedDatetime" jdbcType="TIMESTAMP" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="download" property="download" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="download_count" property="downloadCount" jdbcType="INTEGER" />
    <result column="site_id" property="siteId" jdbcType="INTEGER" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="download_size" property="downloadSize" jdbcType="INTEGER" />
    <result column="download_md5" property="downloadMd5" jdbcType="VARCHAR" />
    <result column="tags_text" property="tagsText" jdbcType="VARCHAR" />
    <result column="workspace" property="workspace" jdbcType="VARCHAR" />
    <result column="resources_count" property="resourcesCount" jdbcType="INTEGER" />
    <result column="comments_count" property="commentsCount" jdbcType="INTEGER" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="chinese_name" property="chineseName" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="property_flag" property="propertyFlag" jdbcType="VARCHAR" />
    <result column="property_flag_expiry" property="propertyFlagExpiry" jdbcType="TIMESTAMP" />
    <result column="updates_log" property="updatesLog" jdbcType="VARCHAR" />
    <result column="ios_package_size" property="iosPackageSize" jdbcType="VARCHAR" />
    <result column="stars_average" property="starsAverage" jdbcType="REAL" />
    <result column="allocation_plan" property="allocationPlan" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="mtesth.api.content.model.WarehousePackageversionWithBLOBs" extends="BaseResultMap" >
    <result column="whatsnew" property="whatsnew" jdbcType="LONGVARCHAR" />
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    whatsnew, description
  </sql>
  <insert id="insertSelective" parameterType="mtesth.api.content.model.WarehousePackageversionWithBLOBs" >
    insert into warehouse_packageversion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="packageId != null" >
        package_id,
      </if>
      <if test="versionName != null" >
        version_name,
      </if>
      <if test="versionCode != null" >
        version_code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="releasedDatetime != null" >
        released_datetime,
      </if>
      <if test="createdDatetime != null" >
        created_datetime,
      </if>
      <if test="updatedDatetime != null" >
        updated_datetime,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="download != null" >
        download,
      </if>
      <if test="cover != null" >
        cover,
      </if>
      <if test="downloadCount != null" >
        download_count,
      </if>
      <if test="siteId != null" >
        site_id,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="downloadSize != null" >
        download_size,
      </if>
      <if test="downloadMd5 != null" >
        download_md5,
      </if>
      <if test="tagsText != null" >
        tags_text,
      </if>
      <if test="workspace != null" >
        workspace,
      </if>
      <if test="resourcesCount != null" >
        resources_count,
      </if>
      <if test="commentsCount != null" >
        comments_count,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="chineseName != null" >
        chinese_name,
      </if>
      <if test="englishName != null" >
        english_name,
      </if>
      <if test="propertyFlag != null" >
        property_flag,
      </if>
      <if test="propertyFlagExpiry != null" >
        property_flag_expiry,
      </if>
      <if test="updatesLog != null" >
        updates_log,
      </if>
      <if test="iosPackageSize != null" >
        ios_package_size,
      </if>
      <if test="starsAverage != null" >
        stars_average,
      </if>
      <if test="allocationPlan != null" >
        allocation_plan,
      </if>
      <if test="whatsnew != null" >
        whatsnew,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="packageId != null" >
        #{packageId,jdbcType=INTEGER},
      </if>
      <if test="versionName != null" >
        #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="versionCode != null" >
        #{versionCode,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="releasedDatetime != null" >
        #{releasedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDatetime != null" >
        #{createdDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDatetime != null" >
        #{updatedDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="download != null" >
        #{download,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="downloadCount != null" >
        #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="siteId != null" >
        #{siteId,jdbcType=INTEGER},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="downloadSize != null" >
        #{downloadSize,jdbcType=INTEGER},
      </if>
      <if test="downloadMd5 != null" >
        #{downloadMd5,jdbcType=VARCHAR},
      </if>
      <if test="tagsText != null" >
        #{tagsText,jdbcType=VARCHAR},
      </if>
      <if test="workspace != null" >
        #{workspace,jdbcType=VARCHAR},
      </if>
      <if test="resourcesCount != null" >
        #{resourcesCount,jdbcType=INTEGER},
      </if>
      <if test="commentsCount != null" >
        #{commentsCount,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="chineseName != null" >
        #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="propertyFlag != null" >
        #{propertyFlag,jdbcType=VARCHAR},
      </if>
      <if test="propertyFlagExpiry != null" >
        #{propertyFlagExpiry,jdbcType=TIMESTAMP},
      </if>
      <if test="updatesLog != null" >
        #{updatesLog,jdbcType=VARCHAR},
      </if>
      <if test="iosPackageSize != null" >
        #{iosPackageSize,jdbcType=VARCHAR},
      </if>
      <if test="starsAverage != null" >
        #{starsAverage,jdbcType=REAL},
      </if>
      <if test="allocationPlan != null" >
        #{allocationPlan,jdbcType=VARCHAR},
      </if>
      <if test="whatsnew != null" >
        #{whatsnew,jdbcType=LONGVARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
</mapper>