<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="LongDateTypeHandler" type="com.hgv.base.componets.LongDateTypeHandler" />
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="LongDateTypeHandler" />
	</typeHandlers>
	<plugins>
		<plugin interceptor="com.hgv.base.componets.MyBatisInterceptor">
			<property name="executeTime" value="${executeTime}" />
		</plugin>
	</plugins>
	<mappers>
	</mappers>
</configuration>