<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mtesth.api.forum.dao.TopicReplyOfReplyMapper" >
  <resultMap id="BaseResultMap" type="mtesth.api.forum.model.TopicReplyOfReply" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="reply_id" property="replyId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="reply_content" property="replyContent" jdbcType="VARCHAR" />
    <result column="praise_count" property="praiseCount" jdbcType="INTEGER" />
    <result column="topic_id" property="topicId" jdbcType="INTEGER" />
    <result column="floor" property="floor" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="reply_to_user_id" property="replyToUserId" jdbcType="INTEGER" />
    <result column="reply_to_user_name" property="replyToUserName" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="mtesth.api.forum.model.TopicReplyOfReply" >
    insert into topic_reply_of_reply (id, reply_id, create_time, 
      update_time, user_id, reply_content, 
      praise_count, topic_id, floor, 
      is_delete, reply_to_user_id, reply_to_user_name, 
      user_name)
    values (#{id,jdbcType=INTEGER}, #{replyId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, #{replyContent,jdbcType=VARCHAR}, 
      #{praiseCount,jdbcType=INTEGER}, #{topicId,jdbcType=INTEGER}, #{floor,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER}, #{replyToUserId,jdbcType=INTEGER}, #{replyToUserName,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="mtesth.api.forum.model.TopicReplyOfReply" >
    insert into topic_reply_of_reply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="replyId != null" >
        reply_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="replyContent != null" >
        reply_content,
      </if>
      <if test="praiseCount != null" >
        praise_count,
      </if>
      <if test="topicId != null" >
        topic_id,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="replyToUserId != null" >
        reply_to_user_id,
      </if>
      <if test="replyToUserName != null" >
        reply_to_user_name,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="replyId != null" >
        #{replyId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="replyContent != null" >
        #{replyContent,jdbcType=VARCHAR},
      </if>
      <if test="praiseCount != null" >
        #{praiseCount,jdbcType=INTEGER},
      </if>
      <if test="topicId != null" >
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="replyToUserId != null" >
        #{replyToUserId,jdbcType=INTEGER},
      </if>
      <if test="replyToUserName != null" >
        #{replyToUserName,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>